autopep8==2.0.2
certifi==2023.7.22
cfgv==3.3.1
charset-normalizer==3.2.0
distlib==0.3.7
docutils==0.20.1
filelock==3.12.2
flake8==6.1.0
identify==2.5.26
idna==3.4
iniconfig==2.0.0
Kivy==2.2.1
Kivy-Garden==0.1.5
mccabe==0.7.0
nodeenv==1.8.0
numpy==1.25.2
packaging==23.1
platformdirs==3.10.0
pluggy==1.2.0
pre-commit==3.3.3
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.15.1
pytest==7.4.0
PyYAML==6.0.1
quads==1.1.0
requests==2.31.0
urllib3==2.0.4
virtualenv==20.24.2
