autopep8==2.0.2
certifi==2023.7.22
charset-normalizer==3.2.0
docutils==0.20.1
flake8==6.1.0
idna==3.4
iniconfig==2.0.0
Kivy==2.2.1
Kivy-Garden==0.1.5
mccabe==0.7.0
numpy==1.25.2
packaging==23.1
pluggy==1.2.0
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.15.1
pytest==7.4.0
requests==2.31.0
urllib3==2.0.4
